/[Dd]ebug*/
/[Rr]elease*/
/packages/
/CMakeFiles/
/autom4te.cache/
/googletest-build/
/googletest-download/
/googletest-src/
/cmake-build-debug/
/DartConfiguration.tcl
/CMakeCache.txt
/cmake_install.cmake
/*.v12.suo
/*.opensdf
/*.sdf
/.~lock.*#
/config.h
/config.h.in
/config.log
/config.status
/configure
/.deps/
/Makefile
/Makefile.in
/aclocal.m4
/compile
/*~
/depcomp
/install-sh
/missing
/stamp-h1

